.customize-verify
{
    border: 1px solid rgb(130, 128, 128);
    padding: 100px 0;
    border-radius: 20px;
    margin: 0 200px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}